html, body{
  background: black;
}

.video-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.video-container>video:nth-of-type(2n){
  filter: blur(3px);
}
.video-container>video:nth-of-type(3n){
  filter: grayscale(80);
}
.video-container>video:nth-of-type(5n){
  filter: sepia(50);
}